@model Timetables.Web.Models.Instructors.InstructorsViewModel

@{
    ViewData["Title"] = "Timetables.Web";
}

<div class="text-left">
    <h1 class="display-4">@Model.FestivalName - Instructors</h1>
    
    <div>
        <h2>There are currently @Model.Instructors.Count Instructors attending this festival</h2>
        <br />

        @foreach (var instructor in Model.Instructors)
        {
            <span>@instructor.Name</span> @*<a href="@Url.RouteUrl(RouteKeys.Instructors.ById, new { festivalId = Model.FestivalId, id = instructor.InstructorId })">View</a>*@
            <br />
        }

        <br />
        <a href="@Url.RouteUrl(RouteKeys.Instructors.CreateForm, new { festivalId = Model.FestivalId })">Add</a>
    </div>

</div>
