@model Timetables.Web.Models.HomeViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="text-left">
    <h2 class="display-4">Welcome</h2>
    <p>This portal allows for the creation and management of timetables for different events or festivals</p>

    
    <h4>Festivals</h4>
    <p>We currently have @Model.Festivals.Count Festivals in the system</p>

    <div class="bd-example">
        <table class="table table-hover">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Festival Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var festival in Model.Festivals.Select((value, i) => new { i, value }))
                {
                    <tr>
                        <th scope="row">@(festival.i+1)</th> 
                        <td><a href="@Url.RouteUrl(RouteKeys.Festival.ById, new { festivalId = festival.value.FestivalId })">@festival.value.Name</a></td>
                        <td></td>
                        <td>
                            <a href="@Url.RouteUrl(RouteKeys.Festival.Delete, new { festivalId = festival.value.FestivalId })">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
                <tr>
                    <th scope="row"></th>
                    <td><a href="@Url.RouteUrl(RouteKeys.Festival.CreateForm)">Add</a></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div> 
</div>
